@charset "utf-8";
html {
    color: #000;
    background: #FFF
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

q:before,
q:after {
    content: ''
}

abbr,
acronym {
    border: 0;
    font-variant\n: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

legend {
    color: #000
}

#yui3-css-stamp.cssreset {
    display: none
}

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom: 1
}

.clear {
    clear: both;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

a{
    text-decoration: none;
}

html {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif, Lato;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

html,body,.container{
    height: 100%;
}

.container{
    position: relative; top: 45px;
    margin: 0 auto;
}

.container #sidebar{
    position: fixed; z-index: 2; top: 45px;
    width: 220px;
    padding: 0 15px;
    font-size: 16px;
}

.container #sidebar ul{
    border: 1px solid #95B8E7;
    background-color: #fff;
}

#sidebar a{
    display: block;
    margin: 15px; padding: 5px;
    color: #666;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    cursor: pointer;
}

#sidebar .active a, #sidebar a:hover{
    color: #333;
    background-color: #ffe48d;
}

#sidebar a{
    color: inherit;
}

.container #main{
    position: relative;
    padding-left: 220px;
    min-height: 100%;
    
}

.cabinet-list .box .grid{
    position: relative;
    float: left;
    width: 8%; height: 100%;
    margin: 0 1%;
    word-wrap:break-word;
    word-break: break-all;
    font-size: 14px;
    color: #666;
    text-align: center;
    border: 1px solid #999;
    text-align: center;
    overflow: hidden;
}

.cabinet-list .box .grid span{
    position: absolute; left: 0; right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.cabinet-line{
    position: relative;
}


.cabinet-line::before{
    content: '';
    position: absolute; bottom: 0; left: 15px; right: 15px;
    height: 1px;
    background-color: #e5e5e5;
}

.cabinet-item{
    height: 80px;
    padding: 15px 15px 0;
}

.cabinet-item .box{
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.cabinet-item .box.current{
    background-color: #ffe48d;
    cursor: pointer;
}

.cabinet-title{
    position: relative;
    height: 50px;
    margin: 0 15px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 50px;
    color: #333;
    background-size: 20px 20px;
    cursor: pointer;
}

.cabinet-title.active{
    background-size: 20px 20px;
    color: #eb6100;
}

.cabinet-flex-wrap{
    display: none;
    margin-right: 15px;
    padding-bottom: 15px;
    border: 1px solid #95B8E7; 
}
.cabinet-flex-wrap.active{
    display: block;
}

.cabinet-flex{
    display: -webkit-box; 
    display: box;
    display:-webkit-flex;
    display: flex;
    width: 100%;
    min-height: 100%;
}

.cabinet-flex .cabinet-list{
    -webkit-box-flex:1; 
    box-flex:1;
    -webkit-flex: 1;
    flex: 1;
    min-height: 100%;
}